.navbar {
  transition: all 0.4s;
}

.nav-item,
.navbar-brand,
.nav-link {
  color: #e8e8e8;
  text-align: center;
}

.nav-item {
  width: 165px;
  padding: 5px;
  text-align: center;
}

.navbar-brand {
  margin-left: 5vw;
  text-align: center;
}

:root {
  --mainColor: #e8e8e8;
}

.nav-link {
  font-weight: bold;
  background:
    linear-gradient(to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #e8e8e8;
  transition: background-size .2s;
  text-align: center;
  margin-right: 1vw;
  margin-left: 1vw;
}

.show ul li a {
  color: black;
}

.nav-link:hover {
  background-size: 4px 50px;
  color: #000000;
}

.active {
  pointer-events: none;
}

/* content */
.line-1,
.line-2,
.line-3 {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.slogan {
  font-size: 8.0vh;
  align-content: center;
  font-family: "Impact", "fantasy";
}

.navbar-nav {
  text-align: center;
}

li {
  float: none;
  display: inline-block;
}

li {
  padding: 20px
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  background-image: url(img/icons8-menu-64.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5vw;
}

.collapsing,
.show {
  background-color: white;
  opacity: 1;
  border-radius: 15px;
  border: 0px;
  outline: none;
  box-shadow: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

html,
body {
  /* height: 100%; */
  font-size: 1.8vh;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  /* font-size:15px; */
}

body {
  background-color: black;
  /* background-image:url(img/background.jpg); */
}

body::after {
  content: "";
  background: url(img/background.jpg);
  background-size: 1920px auto;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container {
  justify-content: center;
}
/* home */
#homeSection{
  color:white;
}
#homeSlogan{
  font-size:7vw;
  color:white;
}


/* about */
#aboutMeSection {
  margin-top: 10vh;
  justify-content: center;
}

#aboutMeSection div {
  text-align: center;
  width: 49%;
  display: inline-block
}

img {
  width: 100%;
}
