.navbar {
  transition: all 0.4s;
    position: fixed;
}
#nav-container{
  min-width:80%
}

.nav-item,
.navbar-brand,
.nav-link {
  color: #e8e8e8;
  text-align: center;
}

.nav-item {
  width: 105px;
  padding: 5px;
  text-align: center;
}

.navbar-brand {
  /* margin-left: 5vw; */
  text-align: center;
}

:root {
  --mainColor: #e8e8e8;
}

/* .nav-link {
  font-weight: bold;
  background:
    linear-gradient(to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #e8e8e8;
  transition: background-size .2s;
  text-align: center;
  margin-right: 1vw;
  margin-left: 1vw;
} */

.show ul li a {
  color: white;
  font-size:10px
}

.nav-link:hover {
  background-size: 4px 50px;
  color: #000000;
}

.active {
  pointer-events: none;
}

/* content */
.line-1,
.line-2,
.line-3 {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav {
  text-align: center;
}

li {
  float: none;
  display: inline-block;
}

li {
  padding: 20px
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  background-image: url(img/icons8-menu-64.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5vw;
}

.collapsing,
.show {
  background-color: grey;
  opacity: 1;
  border-radius: 15px;
  border: 0px;
  outline: none;
  box-shadow: none;
  text-align: center;
}

.show .navbar-nav .nav-item {
  /* width: 100% */
}

.centered {
  /* text-align: center; */
  opacity:1

}

html,
body {
  /* height: 100%; */
  font-size: 1.2vh;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  /* font-size:15px; */
}
.body-c{
  max-width:80%
}

body {
  background-color: black;
  /* background-image:url(img/background.jpg); */
}
/* .background_color{
  background-color: black;
  background-size: 1920px 100%;

} */

/* .background {
  content: "";
  background: url(img/background.jpg);
  background-size: 1920px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /* z-index: 10; */
} */

.container {
  justify-content: center;
}
@media (min-width: 480px){
 #homeSlogan {
   font-size: 5vw;
 }
}
@media (max-width:480px) {

  /* change depending on the mobiles you're targeting */
  div, span {
    /* add further tags here according to your needs */
    width: 100%;
    font-size: 25px;
  }
  .hb{
    font-size: 25px;
  }

  #homeSlogan {
    font-size: 30px;
  }
}

/* home */
#homeSection {
  color: white;
}



.hb {
  border: solid;
  display: inline-block;
  width: 20%;
  min-width:130px;
  font-size: 1.5vh;
  transition: border-width 0.3s linear;
  margin-bottom: 10px;
  text-align:center;

}

.hb:hover {
  border-width: 10px;
}

/* about */
#aboutMeSection {
  justify-content: center;
  margin-left: 10vw;
}
.aboutBackground{
  background-color:white;
}

#aboutMeSection div {
  text-align: center;
  width: 49%;
  display: inline-block
}

img {
  width: 100%;
}
