.navbar {
  transition: all 0.4s;
  position: absolute;
  min-width: 70%;
}

#nav-container {
  min-width: 70%;
  max-width: 70%
}

.nav-item,
.navbar-brand,
.nav-link {
  color: #e8e8e8;
  text-align: center;
}

.nav-item {
  padding: 5px;
  text-align: center;
}

.navbar-brand {
  /* margin-left: 5vw; */
  text-align: center;
}

:root {
  --mainColor: #e8e8e8;
}

.show ul li a {
  color: white;
  font-size: 10px
}

.nav-link:hover {
  background-size: 4px 50px;
  color: #03b6fc;
}

.active {
  pointer-events: none;
  color: #03b6fc;
}

/* content */
.line-1,
.line-2,
.line-3 {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav {
  text-align: center;
}

li {
  float: none;
  display: inline-block;
}

li {
  padding: 20px
}

@media (min-width: 1024px) {
  nav div ul {
    width: 100%;
    margin-left: 19vw;
  }

  .nav-item {
    width: 105px;
  }

  .right {
    margin-left: auto
  }

  .body-c {
    max-width: 70%;
    min-width: 70%;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  background-image: url(img/icons8-menu-64.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5vw;
}

.collapsing,
.show {
  background-color: grey;
  opacity: 1;
  border-radius: 15px;
  border: 0px;
  outline: none;
  box-shadow: none;
  text-align: center;
}

.show .navbar-nav .nav-item {
  /* width: 100% */
}

html,
body {
  /* height: 100%; */
  font-size: 1.2vh;
  font-weight: bold;
  letter-spacing: 2px;
  /* font-family: "BPdots Bold"; */
  font-family: "Arial Black", "Gadget", sans-serif letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  /* font-weight: 700; */
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  /* font-size:15px; */
}

body {
  background-color: white;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  /* background-position: center; */
}

/* .background_color{
  background-color: black;
  background-size: 1920px 100%;

} */
/* .background {
  content: "";
  background: url(img/background.jpg);
  background-size: 1920px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /* z-index: 10; */
}

*/ .container {
  justify-content: center;
}

@media (min-width: 480px) {
  #homeSlogan {
    font-size: 5vw;
  }
}

@media (max-width:480px) {
  .navbar-brand {
    margin-left: 10vw
  }

  .body-c {
    max-width: 80%;
    min-width: 80%;
  }

  /* change depending on the mobiles you're targeting */
  div, span {
    /* add further tags here according to your needs */
    font-size: 15px;
  }

  #homeSlogan {
    font-size: 30px;
  }
}

.centered {
  padding-top: 30vh;
  padding-bottom: 46vh;
  opacity: 1
}

.body-c {
  height: 87.5vh;
}

section {}

/* home content -------------------------------------------------------------------------------------------------------*/
#homeSection {
  color: white;
}

@media (max-width:480px) {
  .centered {
    padding-top: 20vh;
    text-align: center;
  }

  #homeSlogan {
    font-size: 50px
  }

  .homeDetails {
    font-size: 10px
  }
}

/* about content ------------------------------------------------------------------------------------------------------*/
#aboutMeSection {
  justify-content: center;
  /* margin-left: 10vw; */
}

#aboutMeSection div {
  /* float: left; */
}

img {
  width: 100%;
}

#aboutMeSection {
  letter-spacing: 0px;
  min-height: 100vh;
  font-family: "Georgia", serif;
  text-align: left;
  text-transform: none;
  font-weight: normal
}

#aboutHead {
  font-size: 5vh;
  font-weight: bold;
}

#aboutDetails {
  margin-left: 5vw;
  float:left
}
@media (min-width: 1610px) {
  #aboutMeContent {
    margin-top: 10vw;
  }

}
@media (min-width: 1025px) {
  #about_pic {
    height: auto;
    margin-left: 15vw;
  }

  #aboutHead {
    margin-top: 10vh
  }

  #aboutDetails {
    width: 30vw;
    font-size: 10px;
    line-height: 2;
  }

  #aboutMeContent {
    margin-top: 15vw;
  }

  #aboutDetails {
    padding-top: 10vw;
    font-size: 1vw
  }
}

#about_pic {
  height: auto;
  width: 30vw;
  float:left
}

@media (max-width: 1025px) {
  #about_pic_div {
    margin-left: 20vw;
    margin-top: 10vh;
  }

  #aboutMeSection {
    height: 130vh
  }

  #about_pic {
    margin-left: 0;
    height: auto;
    width: 60vw;
  }

  #aboutDetails {
    margin-top: 20vw;
    margin-left: 20vw;
    width: 60vw;
  }

  #aboutMeContent {
    float: left;
  }
}
@media (max-height: 569px) {
  #aboutMeSection {
    height: 150vh;
  }
}
@media (max-width: 800px) and and (min-width: 569px) {
  #aboutMeSection {
    height: 130vh
  }
}

@media (max-width: 800px) and and (min-width: 569px) {
  #about_pic_div {
    margin-left: 20vw
  }

  #aboutMeSection {
    height: 130vh
  }
}


#aboutButton {
  float:none;
  text-align:center;
  border: solid;
  border-color: #03b6fc;
  margin: auto;
  width: 100px;
  font-size: 15px;
  margin-top: 20px;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color:#141414;
}
#aboutButtonWord {
  margin-top: 10px;
  margin-bottom: 10px;
}
#aboutButton:hover {
  background-color: #141414;
  border-color:#141414;
  color:#03b6fc;
}


#projectButton {
  border: solid;
  border-color: #03b6fc;
  margin: auto;
  width: 150px;
  font-size: 15px;
  margin-top: 50px;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

#projectbuttonWord {
  margin-top: 10px;
  margin-bottom: 10px
}

/* project content ------------------------------------------------------------------------------------------------------*/
/* 1stcontent */
#projectsSection1 {
  min-height: 50vh;
  background-color: #191919;
  text-align: center;
  text-transform: none;
  font-family: "Georgia", serif;
  color: white;
}

@media (min-width: 1025px) {
  #projectContent1 {
    padding-top: 20vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 20vh;
  }

  #project1Head {
    font-size: 5vh;
    font-weight: bold;
  }

  #project1Detail {
    font-size: 1.3vw
  }
}

@media (max-width: 1025px) {
  #projectContent1 {
    padding-top: 8vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 8vh;
  }

  .head {
    font-size: 10vw;
    font-weight: bold;
  }
}

#projectButton:hover {
  background-color: #03b6fc
}

@media (max-width: 500px) {}
